.form-field {
    margin-bottom: 3px;
    min-width: 100px;
    max-width: 150px;
}

mat-error {
    font-size: 0.5em;
    color: red;
}


.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 250px;
  }
  
  mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .mat-list-item {
    cursor: pointer;
  }
  
  mat-sidenav-content {
    background-color:lightblue;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

h2{
  text-align: center;
}
