<div class="conteiner">
    <a mat-stroked-button color="primary" routerLink="">Home</a>
    <a mat-stroked-button color="primary" [disabled]="true" href="#">Login</a>
    <a mat-stroked-button color="primary" routerLink="add_usuario" >Adicionar Usuário</a>
    <a mat-stroked-button color="primary" routerLink="list_usuario" >Visualizar Usuários</a>
    <a mat-stroked-button color="primary" href="#"[disabled]="true">Adicionar Tomografo</a>
    <a mat-stroked-button color="primary" href="#"[disabled]="true">Visualizar Tomografos</a>
</div>
